/* zero results search results page */
body.nsearch-index-index.catalogsearch-result-index {
    font-family: "Montserrat", Verdana, Arial, sans-serif;
    .nxt-content { margin-left: 0; }
    .nxt-toolbar { padding-left: 0; }
    .col-left {display:none;}
    .col-main {float:left !important;}
    .nxt-nrf-suggestion {color:#333333;font-size:18px;font-weight:400;text-transform: uppercase;margin: 10px 0 50px 0;}
    .nxt-nrf-suggestion a {text-transform: none;}
}
/* product page - More From This Author */
body.catalog-product-view #next-cross {
    font-family: "Montserrat", Verdana, Arial, sans-serif;
    box-sizing: border-box;
   
    .nxt-app-header {
        font-size: 1.5rem;
        color: #5B6770;
        font-weight: 400;
        margin: 1rem 0 1rem 0;
        padding: 0;
        line-height: 1.5;
        text-transform: uppercase;
        font-family: "Montserrat", Verdana, Arial, sans-serif;
    }
    .nxt-yml.nxt-responsive {
        padding-bottom: 2rem;
        border-bottom: 1px solid #c0c0c0;
    }
    .nxt-yml .price-box {
        font-weight: 300;
    }
    @media only screen and (min-width: 960px) {
        .products-grid--max-4-col > li {
            width: 20%;
            margin: 0;
        }
        .products-grid--max-4-col > li:nth-child(even), .products-grid--max-4-col > li:nth-child(3n) {
            margin: 0;
        }
        .products-grid--max-4-col > li:nth-child(4n+1) {
            clear: none;
        }
    }
    @media only screen and (max-width: 530px) {
        .products-grid li {
            float: none;
            width: 100%;
            margin-right: 0;
            text-align: left;
            a.product-image {
                float: left;
                img {
                    width:100px;
                }
            }
            .title-author-block {
                margin-left: 120px;
                .rating-box {
                    margin: 0;
                }
            }
            .price-box {
                margin-left: 120px;
            }
        }
    }
}
/* category page - Recently Viewed Products & You Might Also Enjoy */
body.catalog-category-view #nextopia-right-col {
    .nxt-app-header {
        font-size: 0.875rem;
        color: #5B6770;
        font-weight: 500;
        margin: 1rem 0 1rem 0;
        padding: 0;
        line-height: 1.5;
        text-transform: uppercase;
    }
    .nxt-yml {
        li {
            a.product-image {
                width: 50px;
                float: left;
                height: auto;
            } 
            .title-author-block {
                margin-left: 60px;
                text-align: left;
            }
            .product-name a {
                font-size: 0.875rem;
            }
            .ratings, .price-box {
            display: none;
            }
        }
    }
}
/* category page - remove default magento Recently Viewed Products */
body.catalog-category-view {
    .block.block-list.block-viewed {
        display: none;
    }
}
/* Nextopia search box drop down */
body .nxt-ac-main {
    .nxt-ac-header {
        background-color:#5B6770;
    }
    .nxt-ac-item .nxt-item-txt {
        color:#0652af;
    }
}
/* Homepage rating stars */
body.cms-home {
    .main-container.full-layout .category-products .products-grid .st-item-content .ratings .rating-box {
        margin: 0;
    }
    .product-image {
        border:0;
    }
}
/* Homepage style edits */
body.cms-home {
    .sw-flexslider .sw-flexslider-control-paging {
        margin: 0 auto;
        top:-35px;
        position: relative;
        left: auto;
    }
    .main-container.full-layout #blogs h2 {
        padding-bottom: 10px;
        border-bottom: 2px solid #ffffff;
    }
}
.footer .block-title {
    font-weight: 500;
}
.footer .block-subscribe .actions .button {
    background:#5B6770;
}
@media only screen and (min-width: 770px) {
    body.cms-home {
        .main-container.full-layout #blogs {
            .content .text {
                top: -10px;
                padding-left: 50px;
            }
        }
    }
}
@media only screen and (min-width: 900px) {
    body.cms-home  {
        .sw-flexslider .slides .slider-title {
            .caption h2 {
                font-size: 2.3rem;
                margin-bottom: 1.5rem;
                letter-spacing: 1px;
                span.smaller {
                    text-transform: capitalize;
                }
            }
            .caption a {
                font-weight: 500; 
                letter-spacing: 1px;
            }
        }
        .main-container.full-layout #join a, .main-container.full-layout #six .block a, .main-container.full-layout #types .block a, .main-container.full-layout #blogs a {
            font-weight: 500; 
            letter-spacing: 1px;
        }
        .main-container.full-layout #join a {
            padding: 15px 60px;
        }
        .main-container.full-layout #types .block h2 {
            line-height: 1.25;
            letter-spacing: 1px;
            font-weight: 500;
            text-shadow: 2px 2px 9px rgba(0,0,0,0.5);
        }
        .main-container.full-layout #six .block {
            h2 {
                line-height: 1.25; 
                letter-spacing: 1px; 
                font-weight: 500; 
                text-shadow: 2px 2px 9px rgba(0, 0, 0, 0.5);
            }
        }
        .main-container.full-layout #blogs a {
            padding: 15px 5px;
            min-width: 244px;
            font-size: 1.125rem;
        }
    }
}
@media only screen and (min-width: 979px) {
    body.cms-home .main-container.full-layout {
        .category-products .products-grid .st-item-content .ratings .rating-box {
            margin: 0 auto;
        }
        #six .block {
            &#block_one, &#block_two {
                border-right: 12px solid white;
            }
        }
    }
}